---
- name: Import assert.yml
  ansible.builtin.import_tasks: assert.yml
  run_once: true
  delegate_to: localhost

- name: Installing dependencies.
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
    update_cache: "true"
  with_items: "{{ proxychains_dependencies }}"
  notify:
    - Restart tor

- name: Installing Proxychains.
  ansible.builtin.package:
    name: "{{ proxychains_packages }}"
    state: present
    update_cache: "true"

- name: Dynamic_chain setup
  when: dynamic_chain
  tags:
    - molecule-idempotence-notest
  block:
    - name: Copy Proxychains config into place | dynamic_chain.
      ansible.builtin.template:
        src: proxychains-dynamic_chain.conf.j2
        dest: /etc/proxychains.conf
        mode: "0644"

- name: Strict_chain setup
  when: strict_chain
  tags:
    - molecule-idempotence-notest
  block:
    - name: Copy Proxychains config into place | strict_chain.
      ansible.builtin.template:
        src: proxychains-strict_chain.conf.j2
        dest: /etc/proxychains.conf
        mode: "0644"

- name: Round_robin_chain setup
  when: round_robin_chain
  block:
    - name: Copy Proxychains config into place | round_robin_chain.
      ansible.builtin.template:
        src: proxychains-round_robin_chain.conf.j2
        dest: /etc/proxychains.conf
        mode: "0644"
      tags:
        - molecule-idempotence-notest
    - name: Set chain_len only if round_robin_chain
      ansible.builtin.lineinfile:
        path: /etc/proxychains.conf
        regexp: "^#chain_len"
        line: chain_len = {{ chain_len }}

- name: Random_chain setup
  when: random_chain
  block:
    - name: Copy Proxychains config into place | random_chain.
      ansible.builtin.template:
        src: proxychains-random_chain.conf.j2
        dest: /etc/proxychains.conf
        mode: "0644"
      tags:
        - molecule-idempotence-notest
    - name: Set chain_len only if random_chain
      ansible.builtin.lineinfile:
        path: /etc/proxychains.conf
        regexp: "^#chain_len"
        line: chain_len = {{ chain_len }}

- name: Set tcp_read_time_out
  ansible.builtin.lineinfile:
    path: /etc/proxychains.conf
    regexp: "^tcp_read_time_out 15000"
    line: tcp_read_time_out {{ tcp_read_time_out }}
  tags:
    - molecule-idempotence-notest

- name: Set tcp_connect_time_out
  ansible.builtin.lineinfile:
    path: /etc/proxychains.conf
    regexp: "^tcp_connect_time_out 8000"
    line: tcp_connect_time_out {{ tcp_connect_time_out }}
  tags:
    - molecule-idempotence-notest

# TODO: inject proxy into settings
# - name: Add mappings to /etc/proxychains.conf
#   ansible.builtin.blockinfile:
#     path: /etc/proxychains.conf
#     block: |
#       {{ item.name }} {{ item.ip }} {{ item.port }}
#     marker: "# {mark} ANSIBLE MANAGED BLOCK {{ item.ip }}"
#   loop:
#     - "{{ default_proxies }}"

- name: Add proxy list mappings to /etc/proxychains.conf
  ansible.builtin.blockinfile:
    path: /etc/proxychains.conf
    block: |
      {{ item.name }} {{ item.ip }} {{ item.port }}
    marker: "# {mark} ANSIBLE MANAGED BLOCK {{ item.ip }}"
  loop:
    - { name: socks4, ip: 133.18.194.45, port: 8080 }
    - { name: socks4, ip: 185.61.152.137, port: 8080 }
    - { name: socks4, ip: 165.154.236.59, port: 80 }
  notify:
    - Restart tor
